Assignment3/WebApplication1/Connected Services/WindEnergyReference/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56603/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WindEnergy" />
  <xs:element name="GetWindEnergyData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lati" type="xs:double" />
        <xs:element minOccurs="0" name="longi" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWindEnergyDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WindEnergy" minOccurs="0" name="GetWindEnergyDataResult" nillable="true" type="q1:WindEnergyData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWindReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lati" type="xs:double" />
        <xs:element minOccurs="0" name="longi" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWindReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWindReportResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>