Assignment3/WebApplication1/Connected Services/SolarEnergyReference/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58263/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SolarEnergy" />
  <xs:element name="GetSolarEnergyData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lati" type="xs:double" />
        <xs:element minOccurs="0" name="longi" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSolarEnergyDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SolarEnergy" minOccurs="0" name="GetSolarEnergyDataResult" nillable="true" type="q1:SolarEnergyData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSolarReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lati" type="xs:double" />
        <xs:element minOccurs="0" name="longi" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSolarReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSolarReportResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>